<h1>All pets!</h1>

<% @pets.each do |pet| %>
  <p>Name:</p>
  <%= pet.name %>

  <p>Breed:</p>
  <%= pet.breed %>

  <p>Age:</p>
  <%= pet.age %>

  <p>Cute?</p>
  <%= pet.cute %>

  <p><%= link_to "Toys", pet_toys_path(pet) %></p>

<% end %>
